<h2>Consents</h2>

<%= form.fields_for :agreements do |af| %>
  <% consent = af.object.consent%>
  <div title=<%= consent.mandatory? ? "Required" : "Optional"%> class="consent">
    <p><strong><%= consent.name %> <%= "*" if consent.mandatory?%></strong></p>
    <%= consent.description %>

    <%= af.hidden_field :consent_id, value: af.object.consent_id %>
    <%= af.hidden_field :id, value: af.object&.id%>
    <%= af.check_box :agreed %>
  </div>
<% end %>
