<% breadcrumb :model, @model %>

<%= mltop_title @model.name %>

<%= @model.description %>

<div class="px-4 py-12 sm:px-6 lg:px-8">
  <%= mltop_nav(manual: true) do |nav| %>
    <% @model.tasks.each do |task| %>
      <% nav.section task.name, model_path(@model, tid: task.id), active: task == @task %>
    <% end %>
  <% end %>
</div>

<% if @task && @test_set && @metric %>
  <%= render "scores", model_row: @model_row, test_sets: @test_sets, metrics: @metrics %>
<% else %>
  <%= render "layouts/empty", message: "No scores for selected task" %>
<% end %>
