
<%# locals: (metric:, url: [:admin, metric.evaluator, metric]) %>

<%= form_with(model: metric, url:, class: "contents") do |form| %>
  <% if metric.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(metric.errors.count, "error") %> prohibited this evaluator from being saved:</h2>

      <ul>
        <% metric.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <%= form.text_field :name, wrapper: "sm:col-span-4" %>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= link_to "Cancel", :back, class: "btn btn-secondary-outline" %>
    <%= form.submit %>
  </div>
<% end %>
