<div class="relative w-full h-screen flex items-center justify-center">
  <!-- Left Image -->
  <div class="absolute left-0 w-1/2 h-2/3 flex items-center justify-center">
    <div
      class="h-full overflow-hidden">
      <img src="<%= asset_path('signup_left.png') %>">
    </div>
  </div>

  <div class="z-10 flex min-h-full absolute place-content-center flex-col sm:px-6 lg:px-8">
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white dark:text-gray-900 px-6 py-12 shadow dark:shadow-white sm:rounded-lg sm:px-12">
        <h1 class="pb-5 text-center text-4xl text-bold">
          Welcome!
        </h1>
        <h2 class="text-center">
          Please sign in to your account using one of the following methods:
        </h2>
        <div class="pt-4 grid grid-cols-1 gap-4">
          <%= button_to plgrid_sign_in_path, method: :post, class: "flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent", data: {turbo: false} do %>
            <%= plgrid_icon("size-5 fill-[#334155]") %>
            <span class="text-sm/6 font-semibold">PLGrid</span>
          <% end %>

          <%= button_to github_sign_in_path, method: :post, class: "flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent", data: {turbo: false} do %>
            <%= github_icon("size-5 fill-[#24292F]") %>
            <span class="text-sm/6 font-semibold">GitHub</span>
          <% end %>

          <%= button_to github_sign_in_path, method: :post, class: "flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent", data: {turbo: false} do %>
            <%= github_icon("size-5 fill-[#24292F]") %>
            <span class="text-sm/6 font-semibold">GitHub</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <!-- Right Image -->
  <div class="absolute translate-y-36 right-0 w-1/2 h-2/3 flex items-center justify-center">
    <div
      class="h-full overflow-hidden">
      <img src="<%= asset_path('singup_right.png') %>">
    </div>
  </div>
</div>


