
<%# locals: (evaluator:) %>

<li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
  <div>
    <p class="text-sm font-semibold leading-6">
      <%= link_to evaluator, [:dashboard, evaluator], class: "hover:underline" %>
    </p>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p>created at: <time datetime="<%= evaluator.created_at %>"><%= time_ago_in_words evaluator.created_at %> ago</time></p>
      <%= dot %>
      <p>updated at:<time datetime="<%= evaluator.updated_at %>"><%= time_ago_in_words evaluator.updated_at %> ago</time></p>
      <%= dot %>
      <p>Challenge: <%= evaluator.challenge&.name %></p>
    </div>
  </div>
  <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
    <!-- Placeholder for actions? -->
  </dl>
</li>
