<div class="flex flex-col gap-4">
  <%= form_with model: HypothesesBundle.new, url: submission_hypotheses_bundle_path(submission_id: model.id), class: "relative inline-flex", data: {controller: "direct-upload", action: "dragover->direct-upload#dragover dragenter->direct-upload#dragenter dragleave->direct-upload#dragleave drop->direct-upload#drop"} do |f| %>
    <label class="btn btn-secondary relative inline-flex items-center cursor-pointer">
      <%= upload_icon("ml-0.5 mr-1.5 h-5 w-5") %>
      <p data-direct-upload-target="text">Upload hypotheses bundles archive</p>
      <%= f.file_field :archive, class: "hidden", direct_upload: true, data: {direct_upload_target: "input", action: "direct-upload#upload"} %>
    </label>
  <% end %>

  <span class="mt-8 text-lg font-semibold">Uploaded Hypotheses Bundles</span>
  <table class="w-full table-auto">
    <tbody>
      <%- model.hypotheses_bundles.each do |hypotheses_bundle| %>
        <tr>
          <td class="py-2 gap-4 flex"><%= hypotheses_bundle.name %>
            <% if hypotheses_bundle.state == "processing" %>
              <span class="text-yellow-600 font-semibold"> <%= info_icon("h-4 w-4 inline-block") %> Processing</span>
            <% elsif hypotheses_bundle.state == "failed" %>
              <span class="text-red-600 font-semibold"> <%= alert_icon("h-4 w-4 inline-block") %> Failed: <%= hypotheses_bundle.error_message %></span>
            <% elsif hypotheses_bundle.state == "success" %>
              <span class="text-green-600 font-semibold"> <%= checked_icon("h-4 w-4 inline-block") %> Success </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
