<%# locals: (model:) %>

<li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
  <div>
    <p class="text-sm font-semibold leading-6">
      <%= link_to model.name, model, class: "hover:unerline" %>
    </p>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p>submitted by: <%= model.owner.name %> </p>
      <%= dot %>
      <p><time datetime="<%= model.created_at %>"><%= time_ago_in_words model.created_at %> ago</time></p>
    </div>
  </div>
  <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
    <!-- Placeholder for score -->
    <% if Current.user.meetween_member? && model.data_consent %>
      <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset">
        Data consent
      </span>
    <% end %>
  </dl>
</li>
