<div class=" mx-16 mt-5">
  <%= form_tag model_path(model), method: :get, class: "flex place-content-center" do %>
    <%= hidden_field_tag(:tid, task.id) %>
    <%# <%= label_tag "tsid", "Test set" %>
    <%= select_tag "tsid", options_for_select(test_sets.map { |ts| [ ts.name, ts.id ] }, test_set.id),
        class: "mt-2 block w-full rounded-s-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6",
        onchange: "this.form.requestSubmit()" %>
    <%= select_tag "mid", options_for_select(metrics.map { |ts| [ ts.name, ts.id ] }, metric.id),
        class: "mt-2 block w-full rounded-e-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6",
        onchange: "this.form.requestSubmit()" %>
    <%# <%= label_tag "mid", "Metric", class: "text-sm font-medium leading-6 text-gray-900" %>
  <% end %>
</div>

<section>
  <p><%= test_set.name %> <%= get_model_metric_on_given_test_set(model,metric,test_set) %> </p>
  <p><%= metric.name %> metric </p>
</section>
