<%= turbo_frame_tag dom_id(@task, "test_sets_form") do %>
  <div class="py-4">
    <% if @task_test_set.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@task_test_set.errors.count, "error") %> prohibited this task_test_set from being saved:</h2>
        <ul>
          <% @task_test_set.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @task_test_set, url: admin_task_test_sets_path do |f| %>
      <div class="space-y-12">
        <div class="mt-6 flex items-center justify-start gap-x-6">
          <%= f.hidden_field :task_id %>
          <%= f.collection_radio_buttons :test_set_id, @test_sets, :id, :name %>
        </div>

        <%= f.button "Add test set", class: "btn btn-success" %>
        <%= link_to "Cancel", :back, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
