<div class="flex justify-between items-center py-2 border-b" id=<%= dom_id(entry) %>>
    <span><%= entry %></span>
    <%= link_to "Input", entry.input, class: "btn btn-primary" %>
    <%= link_to "Ground truth", entry.groundtruth, class: "btn btn-primary" %>
    <%= button_to "Delete", admin_entry_path(entry), method: :delete, class: "btn btn-danger",
      form: { "data-turbo-confirm": "Are you sure you want to remove this test set entry? The groundtruth data will be lost!" } %>
</div>
