<%# locals: (test_set:, challenges:) %>

<%= form_with(model: test_set, url: [:admin, test_set], class: "contents") do |form| %>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <%= form.text_field :name, wrapper: "sm:col-span-4" %>
      <%= form.select :challenge_id, challenges.map { |c| [ c.name, c.id ] },
        { include_blank: true, wrapper: "sm:col-span-2" }
      %>
      <%= form.rich_text_area :description, wrapper: "col-span-full", class: "h-96" %>
      <div class="relative flex gap-x-3">
        <div class="flex h-6 items-center">
          <%= form.check_box :published %>
        </div>
      </div>
  </div>

  <div class="mt-6 mb-2 flex items-center justify-end gap-x-6">
    <%= link_to "Cancel", [:admin, test_set], class: "btn btn-secondary-outline" %>
    <%= form.submit %>
  </div>

<% end %>
