<% content_for :head do %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% breadcrumb :task, @task %>

<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-8 text-center"><%= @task.name %></h1>

<%= render "menu", task: @task %>

<%= @task.description %>

<% @task.test_sets.each do |test_set| %>
  <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-8 mt-8 text-center">
    <%= link_to "#{test_set.name} test set", test_set_path(test_set) %>
  </h2>

  <%= render test_set%>
<% end %>



