<%# locals: (task:) %>

<%= form_with(model: task, url: [:admin, task], class: "contents") do |form| %>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <%= form.text_field :name, wrapper: "sm:col-span-4" %>
      <%= form.text_field :slug, wrapper: "sm:col-span-2" %>
      <%= form.rich_text_area :description, wrapper: "col-span-full", class: "h-96" %>
      <%= form.select :from, Task::TYPES, include_blank: false, wrapper: "sm:col-span-1" %>
      <%= form.select :to, Task::TYPES, include_blank: false, wrapper: "sm:col-span-1" %>
    </div>
  </div>

  <div class="mt-6 mb-2 flex items-center justify-end gap-x-6">
    <%= link_to "Cancel", [:admin, task], class: "btn btn-secondary-outline" %>
    <%= form.submit %>
  </div>
<% end %>
