<div id="<%= dom_id(empty_hypothesis.test_set_entry) %>" class="mx-3 my-4 bg-white sm:rounded-lg">
  <div class="border border-zinc-200 bg-zinc-50  dark:bg-gray-800 px-2 py-5 rounded-lg">
    <div class="flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="flex items-center justify-start ml-2">
          <button disabled
            class="px-4 btn btn-primary-outline w-8 h-8 justify-center">
            +
          </button>

          <div class="ml-2">
            <h3 class="text-base"><%= empty_hypothesis %></h3>
          </div>
        </div>
      <div class="ml-4 mt-2 shrink-0 space-x-2">
        <%= link_to empty_hypothesis.test_set_entry.input, class: "btn btn-secondary-outline relative inline-flex items-center cursor-pointer", "data-turbo-prefetch": false do %>
          <%= download_icon("ml-0.5 mr-1.5 h-5 w-5") %>
          <span>Test input</span>
        <% end %>
        <%= form_with model: Hypothesis.new, url: submission_hypotheses_path(submission_id: empty_hypothesis.model_id), class: "relative inline-flex" do |f| %>
          <label class="btn btn-secondary relative inline-flex items-center cursor-pointer">
            <%= upload_icon("ml-0.5 mr-1.5 h-5 w-5") %>
            Upload hypothesis
            <%= f.file_field :input, class: "hidden" ,onchange: 'this.form.requestSubmit();' %>
          </label>
          <%= f.hidden_field :model_id, value: empty_hypothesis.model_id %>
          <%= f.hidden_field :test_set_entry_id, value: empty_hypothesis.entry_id %>
        <% end %>
      </div>
    </div>
  </div>
</div>
