<%= turbo_frame_tag dom_id(test_set, "add_entry") do %>

    <% if test_set_entry.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(test_set_entry.errors.count, "error") %> prohibited this test set entry from being saved:</h2>
        <ul>
          <% test_set_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= form_with(model: test_set_entry, url: [:admin, test_set_entry]) do |form| %>
      <%= form.select :source_language, Mltop::LANGUAGES, wrapper: "sm:col-span-1" %>
      <%= form.select :target_language, Mltop::LANGUAGES, wrapper: "sm:col-span-1" %>
      <%= form.collection_select :task_id, Task.all, :id, :name, {}, class: "sm:col-span-1" %>
      <%= form.file_field :input %>
      <%= form.file_field :groundtruth %>
      <div>
        <%= link_to "Cancel", [:admin, test_set], class: "btn btn-secondary-outline"%>
        <%= form.submit%>
      </div>
  <% end %>

<% end %>
