<% breadcrumb :test_sets %>

<%= mltop_title "Test sets" %>

<div class="text-center">
  <p>
    <%= "A test set is a dataset used to evaluate a model’s
    performance on new, unseen data."%>
 <br/>
    <%= "It helps measure
    how well the model generalizes and performs
    across different tasks and language pairs."%>
  </p>
</div>

<% if @test_sets.any? %>
  <ul role="list">
    <%= render @test_sets %>
  </ul>
<% else %>
  <%= render "layouts/empty", message: "Test sets list will be released after challenge submition deadline." %>
<% end %>
