<% content_for :head do %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% breadcrumb :test_set, @test_set %>

<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-8 text-center"><%= @task.name %>: <%= @test_set.name %></h1>

<%= render "test_sets/menu", test_set: @test_set %>

<%= render @test_set %>
