<% if evaluation.new_record? %>
  <% if Current.user.meetween_member? %>
    <li>
      <%= render "submissions/evaluations/evaluation_form", evaluation: evaluation %>
    </li>
  <% end %>
<% else %>
  <% cache evaluation do %>
    <li id="<%= dom_id(evaluation) %>">
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center justify-between">
          <div class="truncate text-sm font-medium"><%= evaluation.evaluator.name %></div>
          <div class="ml-2 flex flex-shrink-0">
            <%= mltop_run_status(evaluation) %>
          </div>
        </div>
        <div class="mt-2">
          <% if evaluation.failed? %>
            <div class="text-sm text-red-600"><%= evaluation.error_message %></div>
          <% else %>
            <%= render "submissions/evaluations/scores",
              evaluation: , metrics: evaluation.evaluator.metrics %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
