<%# locals: (model:) %>

<%= form_with(model:, url:model.new_record? ? submissions_path : submission_path(@model), class: "contents") do |form| %>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <%= form.text_field :name, wrapper: "col-span-full" %>
      <%= form.rich_text_area :description, wrapper: "col-span-full", class: "h-96" %>

      <fieldset>
        <legend class="text-sm font-semibold leading-6 text-gray-900">Compatibility map</legend>
        <div class="mt-6 space-y-6">
          <%= form.collection_check_boxes :task_models, @tasks, :id, :to_s do |b| %>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <%= b.check_box %>
              </div>
              <div class="text-sm leading-6">
                <%= b.label(class: "font-medium text-gray-900") %>
              </div>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="my-6 flex items-center justify-end gap-x-6">
    <%= form.submit %>
  </div>
<% end %>
