<%# locals: (model:) %>

<li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
  <div>
    <p class="text-sm font-semibold leading-6 ">
      <%= link_to model.name, submission_path(model), class: "hover:unerline" %>
    </p>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p><%= model.owner.name %> </p>
      <%= dot %>
      <p><time datetime="<%= model.created_at %>"><%= time_ago_in_words model.created_at %> ago</time></p>
    </div>
  </div>
  <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
  </dl>
</li>
