<%= turbo_frame_tag dom_id(entry, "hypothesis_form") do %>
    <%= form_with model: Hypothesis.new, url: submission_hypotheses_path(submission_id:), local: true do |f| %>
      <label class="btn btn-primary cursor-pointer">
        Upload hypothesis
        <%= f.file_field :input, class: "hidden", onchange: 'this.form.requestSubmit();' %>
      </label>
      <%= f.hidden_field :model_id %>
      <%= f.hidden_field :test_set_entry_id, value: entry.id %>
    <% end %>
<% end %>
