<% cache hypothesis do %>
  <div id="<%= dom_id(hypothesis.test_set_entry) %>" class="mx-3 my-4 bg-white sm:rounded-lg sm:shadow">
    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
          <h3 class="text-base font-semibold text-gray-900"><%= hypothesis.test_set_entry %></h3>
        </div>
        <div class="ml-4 mt-4 flex shrink-0">
          <%= link_to hypothesis.test_set_entry.input, class: "relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mr-3", "data-turbo-prefetch": false do %>
            <%= download_icon("text-blue-600") %>
            <span>Test input</span>
          <% end %>
          <%= link_to hypothesis.input, class: "relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mr-3", "data-turbo-prefetch": false do %>
            <%= download_icon("text-blue-600") %>
            <span>Hypothesis</span>
          <% end %>
          <% unless hypothesis.evaluations? %>
            <%= button_to hypothesis_evaluations_path(hypothesis), class: "relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mr-3" do %>
              <%= run_icon %>
              <span>Evaluate</span>
            <% end %>
          <% end %>
          <%= button_to hypothesis_path(hypothesis), method: :delete, class: "relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50", form: { "data-turbo-confirm": "Are you sure you want to remove this hypothesis?" } do %>
            <%= trash_icon %>
            <span>Remove</span>
          <% end %>
        </div>
      </div>
    </div>
    <% if hypothesis.evaluations? %>
      <ul role="list" class="divide-y divide-gray-200">
        <% (@evaluators || hypothesis.evaluators).each do |evaluator| %>
          <%= render hypothesis.evaluation_for(evaluator) %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
