<%# locals: (participant:) %>

<li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
  <div>
    <p class="text-sm font-semibold leading-6">
    <%= participant.name %> <% participant.email %>
    </p>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p>first login at: <time datetime="<%= participant.created_at %>"><%= time_ago_in_words participant.created_at %> ago</time></p>
      <%= dot %>
      <p>last login at:<time datetime="<%= participant.updated_at %>"><%= time_ago_in_words participant.updated_at %> ago</time></p>
    </div>
  </div>
  <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
    <%= link_to "Download all submissions", admin_participant_hypotheses_path(participant), class: "btn btn-primary", "data-turbo": false %>
  </dl>
</li>
