<%# locals: (evaluator:) %>

<%= form_with(model: evaluator, url: [:admin, evaluator], class: "contents") do |form| %>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <%= form.text_field :name, wrapper: "sm:col-span-4" %>
      <%= form.text_field :host, wrapper: "sm:col-span-4" %>
      <%= form.text_area :script, wrapper: "sm:col-span-4", class: "h-96" %>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6 mb-2">
    <%= link_to "Cancel", [:admin, evaluator], class: "btn btn-secondary-outline" %>
    <%= form.submit %>
  </div>
<% end %>
