<table class="table-auto border-collapse w-full border text-zinc-900 border-zinc-400 bg-zinc-50 dark:bg-zinc-700 dark:border-zinc-600 dark:text-zinc-200 text-sm shadow-xs">
  <thead class="sticky top-0">
    <tr>
      <th colspan="1" rowspan="2" class="leaderboard-item">
        Models
      </th>
      <% task.metrics.each do |metric| %>
        <th rowspan="2" class="leaderboard-item">
          <%= link_to test_set_leaderboard_path(test_set, tid: task.id, mid: metric.id, o: aggregated_metric_order(metric)), class: "flex items-center justify-center" do %>
            <span class="flex items-center cursor-pointer mr-1" title="<%="Score range: #{metric.worst_score} - #{metric.best_score}"%>">
                <%= info_icon("text-gray-400 h-4 w-4 inline mr-1") %>
                <%= metric.name %>
              </span>
            <%= aggregated_metric_sort_chevron(metric) %>
          <% end %>
        </th>
      <% end %>
      <% @test_set_entries.each do |test_set_entry| %>
        <th colspan="<%= task.metrics.size %>" class="leaderboard-item">
          <%= test_set_entry %>
        </th>
      <% end %>
    </tr>
    <tr>
      <% @test_set_entries.each do |test_set_entry| %>
        <% task.metrics.each do |metric| %>
          <th class="leaderboard-item">
            <%= link_to test_set_leaderboard_path(test_set, tid: task.id, mid: metric.id, sid: test_set_entry.id, o: test_set_metric_order(test_set_entry, metric)), class: "flex items-center justify-center" do %>
              <span class="flex items-center cursor-pointer mr-1" title="<%="Score range: #{metric.worst_score} - #{metric.best_score}"%>">
                <%= info_icon("text-gray-400 h-4 w-4 inline mr-1") %>
                <%= metric.name %>
              </span>
              <%= test_set_sort_chevron(test_set_entry, metric) %>
            <% end %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <td class="leaderboard-item">
          <%= link_to row.name, row.model %>
        </td>

        <% task.metrics.each do |metric| %>
          <%- value = row.score(test_set: test_set, metric:).value %>
          <td class="score-cell" style="background-color: <%= interpolate_color(value, metric) %>">
            <%= number_with_precision value, precision: 2 %>
          </td>
        <% end %>

        <% @test_set_entries.each do |test_set_entry| %>
          <% task.metrics.each do |metric| %>
            <%- value = row.score(test_set: test_set, metric:, test_set_entry:).value %>
            <td class="score-cell" style="background-color: <%= interpolate_color(value, metric) %>">
              <%= number_with_precision value, precision: 2 %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
