<% content_for :head do %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% breadcrumb :test_set_leaderboard, @test_set %>

<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-8 text-center"><%= @task.name %>: <%= @test_set.name %> Leaderboard</h1>

<%= render "test_sets/menu", test_set: @test_set %>

<% if @rows.size.positive? %>
  <%= render "leaderboard", task: @task, test_set: @test_set, rows: @rows %>
<% else %>
  <%= render "layouts/empty", message: "No models selected for #{@test_set.name} test set" %>
<% end %>

