<%# locals: (challenge:, url:) %>
<%= form_with(model: challenge, url:, class: "contents", data:{ controller: "logo-removal", logo_removal_target: :form }) do |form| %>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class= "col-span-full">
        <%= form.label :logo %>
        <% if challenge.logo.present? %>
          <%= image_tag challenge.logo.variant(resize_to_limit: [300, 300]) %>
          <button type="button"
            class="btn btn-secondary mt-4"
            data-action="logo-removal#remove">
            Remove logo
          </button>
        <% end %>
        <%= form.file_field :logo, accept: "image/*" %>
      </div>
      <%= form.text_field :name, wrapper: "sm:col-span-4" %>
      <%= form.rich_text_area :description, wrapper: "col-span-full" %>
      <%= form.date_field :starts_at, wrapper: "sm:col-span-1" %>
      <%= form.date_field :ends_at, wrapper: "sm:col-span-1" %>
      <%= form.select :visibility, Challenge.visibilities.keys.map { |key| [key.humanize, key]}, include_blank: true, wrapper: "sm:col-span-1" %>
    </div>
  </div>
  <div class="mt-6 mb-2 flex items-center justify-end gap-x-6">
    <%= link_to "Cancel", challenges_path, class: "btn btn-secondary-outline" %>
    <%= form.submit %>
  </div>
<% end %>
