<% breadcrumb :challenge, @challenge %>
<%= mltop_title @challenge %>
<div class="flex px-4 sm:px-0 justify-end">
  <%= link_to "Challenge domain", "/#{ChallengeSlug.encode(@challenge.id)}", type: "button", class: "btn btn-primary" %>
</div>
<div class="flex flex-col gap-2">
  <div class="w-1/2 mx-auto text-center my-2 text-sm text-gray-500">
    <h2> Description </h2>
    <p class="mt-1 leading-6 text-gray-500"><%= @challenge.description%></p>
  </div>
  <div class="mx-auto text-center">
    <%= I18n.l(@challenge.starts_at, format: "%a, %d %b %y") %> - <%= I18n.l(@challenge.ends_at, format: "%a, %d %b %y")  %>
  </div>
</div>
