<nav class="bg-white" data-turbo-permanent>
  <div class="container mx-auto">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <%= image_tag "logo.webp", class: "h-8 w-auto", alt: "MLTop" %>
          <% end %>
        </div>
      </div>
      <div class="flex items-center">
        <div class="hidden md:ml-6 md:flex md:space-x-8">
          <%= mltop_navlinks do |links| %>
            <%- links.add "Home", root_path, [[ "tasks", "tasks/leaderboards" ]] %>
            <%- links.add "Models", models_path, [ "models" ] %>
            <%- links.add "Test sets", test_sets_path, [[ "test_sets", "test_sets/leaderboards" ]] %>
            <% if signed_in? %>
              <%- links.add "My submissions", submissions_path, /\A\/submissions.*/ %>
              <% if Current.user.meetween_member? %>
                <%- links.add "External submissions", external_submissions_path, /\A\/external_submissions.*/ %>
              <% end %>
              <% if Current.user.admin? %>
                <%- links.add "Adminland", admin_tasks_path, /\A\/admin\/.*/ %>
                <%- links.add "Jobs", mission_control_jobs_path, /\A\/jobs\/.*/ %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <% if signed_in? %>
            <%= button_to "Log out", sign_out_path, method: :delete, class: "btn btn-navbar-outline" %>
          <% else %>
            <%= link_to "Log in", sign_in_path, type:"button", class: "btn btn-navbar-outline", "data-turbo": false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

